# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Folders for docker build
config.yaml
creds.yaml
deploy/postgres

# Go workspace file
go.work
go.work.sum

# env file
.env

# creds
credentials.yaml

# Makefile outputs
mocks.log
lint.log
test_output.log
